body {
	background-color: #333;
	color: #fff;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.square {
	width: 30%;
	background-color: #ccc;
	padding-bottom: 30%;
	float: left;
	margin: 1.5%;
	border-radius: 10px;
}